.table-header {
    display: flex;
    justify-content: space-around;
}

.table-body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.text {
    text-align: center;
    padding: 1rem 2rem;
}

@media (max-width: 415px) {
    .table-header {
        justify-content: space-between;
    }
}

@media (max-width: 320px) {
    .table-header {
        margin-right: 10px;
        margin-left: 10px;
    }
}