.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
}

.cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
}

.info {
    display: flex;
    gap: 3rem;
}

.info .info--image {
    width: 6rem;
    height: 4.7rem;
    object-fit: center;
    border-radius: 10px;
}

.summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    color: #8a2b06;
}

.amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
}

.actions {
    display: flex;
    flex-direction: row;
}

.cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
    background-color: #8a2b06;
    color: white;
}

@media (max-width: 768px) {
    .actions {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 415px) {
    .info .info--image {
        display: none;
    }
    .summary {
        width: 7.5rem;
    }
    .cart-item {
        padding: 0.25rem 1rem;
    }
}