.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem;
    background-color: #222222;
}

.socials {
    cursor: pointer;
}

.socials {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.socials a,
.author {
    color: rgba(255, 255, 255, 0.678);
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        gap: 5px;
    }
}